<!DOCTYPE html>
<html>
<head>

    <title><%= title%></title>
    
    <!-- addes css file from assets/css/layouts-->
    <link rel='stylesheet' type='text/css' media='screen' href='/css/layout.css'>  

    <!-- extract styles from sub pages into the layout -->
    <%- style %>
   


</head>
<body>

    <%- include('_header'); %>

    <%- body %>

    
    <%- include('_footer'); %>

    <%- script %>

</body>

</html>